# Media core
CONFIG_MEDIA_SUPPORT=y
CONFIG_MEDIA_CONTROLLER=y
CONFIG_MEDIA_CONTROLLER_REQUEST_API=y

# V4L2 core
CONFIG_VIDEO_DEV=y
CONFIG_VIDEO_V4L2=y
CONFIG_VIDEO_V4L2_SUBDEV_API=y
CONFIG_V4L2_ASYNC=y
CONFIG_V4L2_FWNODE=y

# Buffer
CONFIG_VIDEOBUF2_CORE=y
CONFIG_VIDEOBUF2_DMA_CONTIG=y

# Device Tree
CONFIG_OF=y
CONFIG_OF_OVERLAY=y
CONFIG_OF_DYNAMIC=y
CONFIG_OF_GRAPH=y

# DMA
CONFIG_DMA_ENGINE=y
CONFIG_DMA_BCM2835=y
CONFIG_DMA_SHARED_BUFFER=y

# CMA
CONFIG_CMA=y
CONFIG_CMA_SIZE_MBYTES=256

# Raspberry Pi camera
CONFIG_VIDEO_BCM2835_UNICAM=y
CONFIG_VIDEO_BCM2835_ISP=y

# Sensor
CONFIG_VIDEO_SENSOR=y
CONFIG_VIDEO_OV5647=y

# New Pi ISP - is not enabled by default
# CONFIG_VIDEO_RASPBERRYPI_PIISP
