# Kernel config fragment to enable MC, V4L2 and camera drivers
CONFIG_MEDIA_SUPPORT=y
CONFIG_MEDIA_CONTROLLER=y

CONFIG_VIDEO_V4L2=y
# CONFIG_VIDEO_V4L2_SUBDEV_API=y

CONFIG_VIDEO_BCM2835_UNICAM=y
CONFIG_VIDEO_BCM2835_ISP=y

CONFIG_VIDEO_OV5647=y
CONFIG_VIDEO_SENSOR=y

# CONFIG_VIDEO_RASPBERRYPI_PIISP=y