# I2C core
CONFIG_I2C=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_MUX=y

# Raspberry Pi I2C controllers
CONFIG_I2C_BCM2835=y
CONFIG_I2C_BCM2835AUX=y

# Device Tree + pinctrl
CONFIG_OF=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_BCM2835=y

